<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lorelib.accesscontrol.domain.access.ResourceRepository">
    <insert id="addResource" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ac_resource (
        id,
        resourceType,
        resourceName,
        resourcePath,
        createBy,
        createDate
        ) VALUES (
        #{id},
        #{resourceType},
        #{resourceName},
        #{resourcePath},
        #{createBy},
        #{createDate}
        );
        <foreach collection="opts" item="opt">
            INSERT INTO ac_operation (
            id,
            resourceId,
            optName,
            optPath,
            createBy,
            createDate
            ) VALUES (
            #{opt.id},
            #{opt.resourceId},
            #{opt.optName},
            #{opt.optPath},
            #{opt.createBy},
            #{opt.createDate}
            )
        </foreach>
    </insert>

    <select id="getResourcesByType" resultType="Resource">
        SELECT * FROM ac_resource WHERE resourceType = #{resourceType}
    </select>

    <select id="getOptsByResourceId" resultType="Operation">
        SELECT * FROM ac_operation WHERE resourceId = #{resourceId}
    </select>
</mapper>