<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lorelib.accesscontrol.domain.ResourceRepository">
    <insert id="addResource">
        INSERT INTO ac_resource (
            productCode,
            companyId,
            resourceType,
            resourceId,
            resourceName,
            resourcePath,
            createBy,
            createDate,
            updateBy,
            updateDate
        ) VALUES (
            #{companyInfo.productCode},
            #{companyInfo.companyId},
            #{resourceType},
            #{resourceId},
            #{resourceName},
            #{resourcePath},
            #{createBy},
            #{createDate},
            #{updateBy},
            #{updateDate}
        );
        <foreach collection="opts" item="opt">
            INSERT INTO ac_operation (
                id,
                resourceId,
                optId,
                optName,
                optPath,
                createBy,
                createDate,
                updateBy,
                updateDate
            ) VALUES (
                #{opt.id},
                #{opt.resourceId},
                #{opt.optId},
                #{opt.optName},
                #{opt.optPath},
                #{opt.createBy},
                #{opt.createDate},
                #{opt.updateBy},
                #{opt.updateDate}
            )
        </foreach>
    </insert>

    <insert id="appendOptsToResource">
        <foreach collection="opts" item="opt">
            INSERT INTO ac_operation (
            id,
            resourceId,
            optId,
            optName,
            optPath,
            createBy,
            createDate,
            updateBy,
            updateDate
            ) VALUES (
            #{opt.id},
            #{opt.resourceId},
            #{opt.optId},
            #{opt.optName},
            #{opt.optPath},
            #{opt.createBy},
            #{opt.createDate},
            #{opt.updateBy},
            #{opt.updateDate}
            )
        </foreach>
    </insert>
</mapper>