<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lorelib.accesscontrol.domain.access.ResourceRepository">
    <insert id="addResource" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ac_resource (
        id,
        resourceType,
        outResourceId,
        resourceName,
        resourcePath,
        createBy,
        createDate,
        updateBy,
        updateDate
        ) VALUES (
        #{id},
        #{resourceType},
        #{outResourceId},
        #{resourceName},
        #{resourcePath},
        #{createBy},
        #{createDate}
        );
        <foreach collection="opts" item="opt">
            INSERT INTO ac_operation (
            id,
            resourceId,
            optId,
            optName,
            optPath,
            createBy,
            createDate,
            updateBy,
            updateDate
            ) VALUES (
            #{opt.id},
            #{opt.resourceId},
            #{opt.optId},
            #{opt.optName},
            #{opt.optPath},
            #{opt.createBy},
            #{opt.createDate}
            )
        </foreach>
    </insert>

    <delete id="deleteResource">
        DELETE FROM ac_resource WHERE id = #{resourceId};
        DELETE FROM ac_operation WHERE resourceId = #{resourceId};
    </delete>

    <update id="updateResource">
        UPDATE ac_resource
        <set>
            <if test="resourceName != null">
                resourceName = #{resourceName},
            </if>
            <if test="resourcePath != null">
                resourcePath = #{resourcePath},
            </if>
            <if test="updateBy != null">
                updateBy = #{updateBy},
            </if>
            <if test="updateDate != null">
                updateDate = #{updateDate},
            </if>
        </set>
        WHERE resourceId = #{resourceId}
    </update>

    <update id="updateOptsByResourceId">
        UPDATE ac_resource
        <set>
            <if test="resourceName != null">
                resourceName = #{resourceName},
            </if>
            <if test="resourcePath != null">
                resourcePath = #{resourcePath},
            </if>
            <if test="updateBy != null">
                updateBy = #{updateBy},
            </if>
            <if test="updateDate != null">
                updateDate = #{updateDate},
            </if>
        </set>
        WHERE resourceId = #{resourceId}
    </update>

    <select id="getResourcesByType" resultType="Resource">
        SELECT * FROM ac_resource WHERE resourceType = #{resourceType}
    </select>

    <select id="getOptsByResourceId" resultType="Operation">
        SELECT * FROM ac_operation WHERE resourceId = #{resourceId}
    </select>
</mapper>