<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lorelib.hawk.accesscontrol.domain.access.ResourceRepository">
    <insert id="addResource">
        INSERT INTO ac_resource (
        id,
        parentId,
        resourceType,
        resourceName,
        resourcePath,
        createBy,
        createDate
        ) VALUES (
        #{id},
        #{parentId},
        #{resourceType},
        #{resourceName},
        #{resourcePath},
        #{createBy},
        #{createDate}
        )
    </insert>

    <insert id="addBatchResources" parameterType="java.util.List">
        <foreach collection="list" item="item">
            INSERT INTO ac_resource (
            id,
            parentId,
            resourceType,
            resourceName,
            resourcePath,
            createBy,
            createDate
            ) VALUES (
            #{item.id},
            #{item.parentId},
            #{item.resourceType},
            #{item.resourceName},
            #{item.resourcePath},
            #{item.createBy},
            #{item.createDate}
            );
        </foreach>
    </insert>

    <resultMap id="resourceMap" type="Resource">
        <result property="id" column="id" />
        <result property="resourceType" column="resourceType" />
        <result property="resourceName" column="resourceName" />
        <result property="resourcePath" column="resourcePath" />
        <result property="createBy" column="createBy" />
        <result property="createDate" column="createDate" />
        <collection property="subResources" ofType="Resource">
            <result property="id" column="c_id" />
            <result property="parentId" column="c_parentId" />
            <result property="resourceType" column="c_resourceType" />
            <result property="resourceName" column="c_resourceName" />
            <result property="resourcePath" column="c_resourcePath" />
            <result property="createBy" column="c_createBy" />
            <result property="createDate" column="c_createDate" />
        </collection>
    </resultMap>

    <select id="getResourcesByType" resultMap="resourceMap">
         SELECT
            p.id AS id,
            p.resourceType AS resourceType,
            p.resourceName AS resourceName,
            p.resourcePath AS resourcePath,
            p.createBy AS createBy,
            p.createDate AS createDate,
            c.parentId AS c_parentId,
            c.id AS c_id,
            c.resourceType AS c_resourceType,
            c.resourceName AS c_resourceName,
            c.resourcePath AS c_resourcePath,
            c.createBy AS c_createBy,
            c.createDate AS c_createDate
         FROM ac_resource p LEFT JOIN ac_resource c ON p.id = c.parentId
         WHERE p.resourceType = #{resourceType} AND p.parentId = 0
    </select>
</mapper>