<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lorelib.hawk.system.domain.menu.MenuRepository">
    <sql id="select">
        SELECT
        id, parentId, menuName, menuAlias, description
        FROM sys_menu
    </sql>

    <select id="getAllMenu" resultMap="menuMap">
        <include refid="select"/>
        WHERE parentId = -1
    </select>
    
    <select id="getMenuByParentId" resultMap="menuMap">
        <include refid="select"/>
        WHERE parentId = #{id}
    </select>

    <resultMap id="menuMap" type="Menu" autoMapping="true">
        <association property="id" javaType="MenuId">
            <result property="id" column="id"/>
        </association>
        <association property="parentId" javaType="MenuId">
            <result property="id" column="parentId"/>
        </association>
        <collection property="child" ofType="menuMap" column="id" select="getMenuByParentId" fetchType="lazy"/>
    </resultMap>
</mapper>