<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lorelib.hawk.system.domain.accesscontrol.RoleRepository">
    <insert id="addRole">
        INSERT INTO ac_role (
        id,
        roleName,
        description,
        createBy,
        createDate
        ) VALUES (
        #{id.id},
        #{roleName},
        #{description},
        #{createBy},
        #{createDate}
        )
    </insert>

    <select id="getAllRole" resultMap="roleMap">
        SELECT id, roleName FROM ac_role
    </select>

    <sql id="roleWithPerms">
        SELECT
        r.id AS roleId,
        r.roleName AS roleName,
        r.description AS roleDesc,
        r.createBy AS roleCreateBy,
        r.createDate AS roleCreateDate,
        p.resourceId AS resourceId,
        p.resourceName AS resourceName,
        p.resourceType AS resourceType
        FROM ac_role r
        LEFT JOIN ac_permission p ON r.id = p.roleId
    </sql>

    <select id="getAllRoleWithPerms" resultMap="roleMap">
        <include refid="roleWithPerms"/>
    </select>

    <select id="findRoles" resultMap="roleMap" parameterType="Criteria">
        SELECT
        id,
        roleName,
        description,
        createBy,
        createDate,
        updateBy,
        updateDate
        FROM ac_role
        WHERE 1 = 1
        <if test="where != null">
            <if test="where.roleName != null and where.roleName != ''">
                AND roleName LIKE CONCAT('%', #{where.roleName}, '%')
            </if>
        </if>
        <choose>
            <when test="order != null">
                ORDER BY #{order.field1}
                <if test="order.field2 != null">
                    , #{order.field2}
                </if>
                <choose>
                    <when test="order.desc == TRUE">
                        DESC
                    </when>
                    <otherwise>
                        ASC
                    </otherwise>
                </choose>
            </when>
            <otherwise>
                ORDER BY createDate DESC
            </otherwise>
        </choose>
        LIMIT #{page.pageStart}, #{page.pageSize}
    </select>

    <select id="getRolesSize" resultType="int">
        SELECT COUNT(id) FROM ac_role
        WHERE 1 = 1
        <if test="where != null">
            <if test="where.roleName != null and where.roleName != ''">
                AND roleName LIKE CONCAT('%', #{where.roleName}, '%')
            </if>
        </if>
    </select>

    <select id="getRoleWithPermsBy" resultMap="roleMapWithPerm">
        <include refid="roleWithPerms"/>
        WHERE r.id = #{id}
    </select>

    <update id="updateRole">
        UPDATE ac_role
        <set>
            <if test="roleName != null and roleName != ''">roleName = #{roleName},</if>
            <if test="description != null and description != ''">description = #{description}</if>
        </set>
        WHERE id = #{id.id}
    </update>

    <delete id="deleteRole">
        DELETE FROM ac_role WHERE id = #{id}
    </delete>

    <resultMap id="roleMap" type="Role" autoMapping="true">
        <association property="id" javaType="RoleId">
            <result property="id" column="id"/>
        </association>
    </resultMap>

    <resultMap id="roleMapWithPerm" type="Role" autoMapping="true">
        <result property="description" column="roleDesc"/>
        <result property="createBy" column="roleCreateBy"/>
        <result property="createDate" column="roleCreateDate"/>
        <association property="id" javaType="RoleId">
            <result property="id" column="roleId"/>
        </association>
        <collection property="perms" resultMap="com.lorelib.hawk.system.domain.accesscontrol.PermissionRepository.permMap"/>
    </resultMap>
</mapper>