<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lorelib.hawk.accesscontrol.domain.RoleRepository">
    <insert id="addRole">
        INSERT INTO ac_role (
        id,
        roleName,
        createBy,
        createDate
        ) VALUES (
        #{id},
        #{roleName},
        #{createBy},
        #{createDate}
        );
        <foreach collection="perms" item="perm">
            INSERT INTO ac_permission (
            id,
            roleId,
            resourceId,
            createBy,
            createDate
            ) VALUES (
            #{perm.id},
            #{perm.role.id},
            #{perm.resource.id},
            #{perm.createBy},
            #{perm.createDate}
            )
        </foreach>
    </insert>

    <insert id="addPermToRole">
        <foreach collection="perms" item="perm">
            INSERT INTO ac_permission (
            id,
            roleId,
            resourceId,
            createBy,
            createDate
            ) VALUES (
            #{perm.id},
            #{id},
            #{perm.resource.id},
            #{perm.createBy},
            #{perm.createDate}
            )
        </foreach>
    </insert>

    <select id="getAllRoles" resultType="Role">
        SELECT * FROM ac_role
    </select>

    <select id="getRolesWithPerm" resultMap="roleMap">
        SELECT
        r.id AS id,
        r.roleName AS roleName,
        rs.parentId AS rs_parentId,
        rs.id AS rs_id,
        rs.resourceType AS rs_resourceType,
        rs.resourceName AS rs_resourceName,
        rs.resourcePath AS rs_resourcePath
        FROM ac_role r
        LEFT JOIN ac_permission p ON r.id = p.roleId
        LEFT JOIN ac_resource rs ON rs.id = p.resourceId AND rs.parentId != 0
        WHERE 1 = 1
        <if test="id != 0">
            AND r.id = #{id}
        </if>
    </select>

    <resultMap id="roleMap" type="Role">
        <result property="id" column="id" />
        <result property="roleName" column="roleName" />
        <association property="perms" resultMap="permissionMap"/>
    </resultMap>

    <resultMap id="permissionMap" type="Permission">
        <association property="resource" resultMap="com.lorelib.hawk.accesscontrol.domain.ResourceRepository.resourceMap" columnPrefix="rs_" />
    </resultMap>
</mapper>